@model WebAppStore.Models.ProductoModel
<dl class="dl-horizontal" style="margin-left:2.5%;">
    @Html.HiddenFor(model => model.Id, new { @id="idProducto"})

    <div class="form-group">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </div>

    <div class="form-group">
        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            <span id="idPrecio">@Html.DisplayFor(model => model.Precio)</span>
        </dd>
    </div>
</dl>