@model IEnumerable<WebAppStore.Models.ClienteModel>

@{
    ViewBag.Title = "Index";
}

<h2>Lista de Clientes</h2>

<p>
    @Html.ActionLink("Agregar Producto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroDocumento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.ActionLink("VENDER", "Venta", new { id = item.Id }) |
                @Html.ActionLink("EDITAR", "Edit", new { id = item.Id }) |
                @Html.ActionLink("ELIMINAR", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
